.main{
	height: 100vh;
	width: 100vh;
	text-align: center;
	align-items: center;
}

.board{
	display: flex;
	flex-direction: row;
	margin: 5% 25% 5% 25%;
	border: 3px solid red;
    width: 1400px;
    height: 800px;
}

.but{
	display: 
}

.score{
	height: 85px;
	font-size: 80px;
	margin-left: 50%;
	margin-top: 80px;
}

.name1{
	height: 55px;
	transform: rotate(270deg);
	font-size: 50px;
	margin-left: -350px;
	margin-top: 350px;
}
.player1{
	border: 3px solid blue;
	display: flex;
    width: 700px;
    height: 800px;
	left: 0;
}

.scoreNow{
	font-size: 30px;
	height: 35px;
	margin-left: 100px;
	margin-top: 600px;
}
.gameS{
	font-size: 40px;
	height: 45px;
	margin-left: -80px;
	margin-top: 630px;
}

.player2{
	border: 3px solid green;
	display: flex;
    width: 700px;
    height: 800px;
	right: 0;
}